*{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 500px;
    gap: 14px;
    
}
body{
    margin-top: 250px;
    background: rgb(2, 77, 85);
    
}
